#map {
    height: 440px;
    width: 100%;
}
        
.address-wrap {
}

.circle {
	width: 20px;
	height: 20px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.square {
	width: 20px;
	height: 20px;
	background-color: #eee;
}

.no-mar-bot {
	margin-bottom: 0px;
}

.input-field input[type=text]:focus + label {
     color: #29b6f6;
}

.input-field input[type=text]:focus {
     border-bottom: 1px solid #29b6f6;
     box-shadow: 0 1px 0 0 #29b6f6;
}

.remove-btn {
	width: 100%;
	max-width: 30px;
	margin-top: 10px;
}


#calculate-btn-wrap {
	margin-bottom: 20px;
}

#add-more {
	margin-top: 0px;
	color: #42A5F5;
}

#add-more:hover {
	color: #2C7EA2;
	cursor: pointer;
}
